# Virtual Environment
myenv/
venv/
env/
ENV/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model folder & files - NEVER PUSH
model/
models/
*.pkl
*.pickle
trained_models/